/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_key_press.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        home {
            bindings = <&to 0>;
            key-positions = <25 26 27 28 31 32 33 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
&kp GRAVE              &u_to_tap 1 NUMBER_1  &u_to_tap 2 NUMBER_2  &u_to_tap 3 NUMBER_3  &u_to_tap 4 NUMBER_4  &u_to_tap 5 N5                                                 &u_to_tap 6 NUMBER_6         &u_to_tap 7 N7  &u_to_tap 8 N8  &u_to_tap 9 N9  &kp NUMBER_0         &kp MINUS
&kp TAB                &kp Q                 &kp W                 &kp E                 &kp R                 &kp T                                                          &kp Y                        &kp U           &kp I           &kp O           &kp P                &kp BACKSLASH
&mt LEFT_SHIFT ESCAPE  &hml LGUI A           &hml LALT S           &hml LCTRL D          &kp F                 &kp G                                                          &kp H                        &kp J           &hmr RCTRL K    &hmr LALT L     &hmr RWIN SEMICOLON  &kp SQT
&kp LCTRL              &u_lt 3 Z             &hml RALT X           &kp C                 &kp V                 &kp B           &u_lt 8 LEFT_BRACKET    &u_lt 7 RIGHT_BRACKET  &kp N                        &kp M           &kp COMMA       &hmr RALT DOT   &kp SLASH            &kp EQUAL
                                                                   &none                 &u_lt 6 ESC           &u_lt 4 SPACE   &kp ENTER               &kp LEFT_SHIFT         &mt LC(BACKSPACE) BACKSPACE  &u_lt 9 DEL     &none
            >;
        };

        GAMING {
            display-name = "Gaming";
            bindings = <
&kp ESCAPE               &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                                            &kp NUMBER_6   &kp N7      &kp N8     &kp N9      &kp N0         &kp MINUS
&kp TAB                  &kp Q         &kp W         &kp E         &kp R         &kp T                                             &kp Y          &kp U       &kp I      &kp O       &kp P          &kp NON_US_BACKSLASH
&mt LEFT_SHIFT CAPSLOCK  &kp A         &kp S         &kp D         &kp F         &kp G                                             &kp H          &kp J       &kp K      &kp L       &kp SEMICOLON  &kp SQT
&kp LCTRL                &kp Z         &kp X         &kp C         &kp V         &kp B      &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp N          &kp M       &kp COMMA  &kp PERIOD  &kp SLASH      &kp EQUAL
                                                     &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE  &kp ENTER           &kp LEFT_SHIFT     &kp BACKSPACE  &kp DELETE  &kp RCTRL
            >;
        };

        TAP {
            display-name = "Tap";
            bindings = <
&none      &kp N1  &kp N2  &kp N3        &kp N4   &kp N5                                      &kp N6             &kp N7   &kp N8              &kp N9   &kp N0    &none
&kp TAB    &kp Q   &kp W   &kp E         &kp R    &kp T                                       &kp Y              &kp U    &kp I               &kp O    &kp P     &none
&kp LCTRL  &kp A   &kp S   &kp D         &kp F    &kp G                                       &kp H              &kp J    &kp K               &kp L    &kp SEMI  &none
&kp LSHFT  &kp Z   &kp X   &kp C         &kp V    &kp B      &u_to_U_BASE    &u_to_U_NUM      &kp N              &kp M    &kp COMMA           &kp DOT  &kp FSLH  &none
                           &kp LEFT_ALT  &kp ESC  &kp SPACE  &kp ENTER       &kp RIGHT_SHIFT  &mt LC(BSPC) BSPC  &kp DEL  &kp K_CONTEXT_MENU
            >;
        };

        BUTTON {
            display-name = "Button";
            bindings = <
&none  &none       &none        &none        &none        &none                              &none        &none        &none        &none        &none       &none
&none  &kp K_UNDO  &kp LS(DEL)  &kp LC(INS)  &kp LS(INS)  &kp K_AGAIN                        &kp K_AGAIN  &kp LS(INS)  &kp LC(INS)  &kp LS(DEL)  &kp K_UNDO  &none
&none  &kp LGUI    &kp LALT     &kp LCTRL    &kp LSHFT    &none                              &none        &kp LSHFT    &kp LCTRL    &kp LALT     &kp LGUI    &none
&none  &kp K_UNDO  &kp LS(DEL)  &kp LC(INS)  &kp LS(INS)  &kp K_AGAIN  &none       &none     &kp K_AGAIN  &kp LS(INS)  &kp LC(INS)  &kp LS(DEL)  &kp K_UNDO  &none
                                &to 0        &mkp MB3     &mkp MB1     &mkp MB2    &mkp MB2  &mkp MB1     &mkp MB3     &none
            >;
        };

        NAV {
            display-name = "Nav";
            bindings = <
&none  &none        &none        &none          &none         &none                             &none         &none        &none        &none        &none       &none
&none  &bootloader  &u_to_U_TAP  &u_to_U_EXTRA  &u_to_U_BASE  &none                             &kp K_AGAIN   &kp LS(INS)  &kp LC(INS)  &kp LS(DEL)  &kp K_UNDO  &none
&none  &kp LGUI     &kp LALT     &kp LCTRL      &kp LSHFT     &none                             &u_caps_word  &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT   &none
&none  &none        &kp RALT     &u_to_U_NUM    &u_to_U_NAV   &none  &none             &none    &kp INS       &kp HOME     &kp PG_DN    &kp PG_UP    &kp END     &none
                                 &to 0          &none         &none  &kp LEFT_SHIFT    &kp RET  &kp BSPC      &kp DEL      &none
            >;
        };

        MOUSE {
            display-name = "Mouse";
            bindings = <
&none  &none        &none        &none          &none          &none                              &none        &none        &none        &none         &none       &none
&none  &bootloader  &u_to_U_TAP  &u_to_U_EXTRA  &u_to_U_BASE   &none                              &kp K_AGAIN  &kp LS(INS)  &kp LC(INS)  &kp LS(DEL)   &kp K_UNDO  &none
&none  &kp LGUI     &kp LALT     &kp LCTRL      &kp LSHFT      &none                              &none        &kp KP_N4    &kp KP_N2    &kp KP_N8     &kp KP_N6   &none
&none  &none        &kp RALT     &u_to_U_SYM    &u_to_U_MOUSE  &none  &none             &none     &none        &kp LEFT     &kp DOWN     &kp UP_ARROW  &kp RIGHT   &none
                                 &to 0          &none          &none  &kp LEFT_SHIFT    &mkp MB2  &mkp MB1     &mkp MB3     &none
            >;
        };

        MEDIA {
            display-name = "Media";
            bindings = <
&none  &none        &none        &none          &none          &none                                               &kp C_ASPECT       &kp C_BRIGHTNESS_MINIMUM  &kp C_BRI_DEC  &kp C_BRI_INC  &kp C_BRIGHTNESS_MAXIMUM  &kp C_PIP
&none  &bootloader  &u_to_U_TAP  &u_to_U_EXTRA  &u_to_U_BASE   &none                                               &kp C_RECORD       &kp K_PLAY_PAUSE          &kp K_STOP2    &kp K_PREV     &kp K_NEXT                &none
&none  &kp LGUI     &kp LALT     &kp LCTRL      &kp LSHFT      &studio_unlock                                      &ext_power EP_TOG  &kp K_MUTE                &kp C_VOL_DN   &kp C_VOL_UP   &kp K_NEXT                &none
&none  &none        &kp RALT     &u_to_U_FUN    &u_to_U_MEDIA  &none           &none             &ext_power EP_ON  &u_out_tog         &u_bt_sel_0               &u_bt_sel_1    &u_bt_sel_2    &u_bt_sel_3               &none
                                 &to 0          &none          &none           &kp LEFT_SHIFT    &kp C_STOP        &kp C_PP           &kp C_MUTE                &none
            >;
        };

        NUM {
            display-name = "Num";
            bindings = <
&none  &none                    &kp KP_NUMLOCK   &kp KP_DIVIDE    &kp KP_ASTERISK  &kp KP_MINUS                                     &none  &none         &none          &none        &none        &none
&none  &kp KP_LEFT_PARENTHESIS  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_EQUAL                                     &none  &u_to_U_BASE  &u_to_U_EXTRA  &u_to_U_TAP  &bootloader  &none
&none  &kp KP_LEFT_PARENTHESIS  &kp KP_NUMBER_4  &kp KP_N5        &kp KP_NUMBER_6  &kp KP_RIGHT_PARENTHESIS                         &none  &kp LSHFT     &kp LCTRL      &kp LALT     &kp LGUI     &none
&none  &kp KP_COMMA             &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_PLUS               &none           &none  &none  &u_to_U_NUM   &u_to_U_NAV    &kp RALT     &none        &none
                                                 &to 0            &kp KP_N0        &kp KP_DOT                &kp KP_ENTER    &none  &none  &none         &none
            >;
        };

        SYM {
            display-name = "Sym";
            bindings = <
&none  &none            &none              &none      &none          &none                            &none             &none                 &none         &none                  &none              &none
&none  &kp SQT          &kp DOUBLE_QUOTES  &kp CARET  &kp BACKSLASH  &kp TILDE                        &kp LEFT_BRACKET  &kp LESS_THAN         &kp EQUAL     &kp GREATER_THAN       &kp RIGHT_BRACKET  &none
&none  &kp EXCLAMATION  &kp AT             &kp HASH   &kp DOLLAR     &kp PERCENT                      &kp LEFT_BRACE    &kp LEFT_PARENTHESIS  &kp COLON     &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE    &kp SEMICOLON
&none  &kp GRAVE        &kp QUESTION       &kp AT     &kp SLASH      &kp MINUS    &none        &none  &kp PIPE          &kp AMPERSAND         &kp ASTERISK  &kp PLUS               &kp UNDERSCORE     &kp KP_MINUS
                                           &to 0      &kp LPAR       &kp RPAR     &kp UNDER    &none  &none             &none                 &none
            >;
        };

        FUN {
            display-name = "Fun";
            bindings = <
&none  &none    &none   &none   &none      &none                              &none  &none         &none          &none        &none        &none
&none  &kp F12  &kp F7  &kp F8  &kp F9     &kp PSCRN                          &none  &u_to_U_BASE  &u_to_U_EXTRA  &u_to_U_TAP  &bootloader  &none
&none  &kp F11  &kp F4  &kp F5  &kp F6     &kp SLCK                           &none  &kp LSHFT     &kp LCTRL      &kp LALT     &kp LGUI     &none
&none  &kp F10  &kp F1  &kp F2  &kp F3     &kp PAUSE_BREAK  &none      &none  &none  &u_to_U_FUN   &u_to_U_MEDIA  &kp RALT     &none        &none
                        &to 0   &kp K_APP  &kp SPACE        &kp TAB    &none  &none  &none         &none
            >;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_0: u_macro_u_bt_sel_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_0: u_bt_sel_0 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&u_macro_u_bt_sel_0>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_1: u_macro_u_bt_sel_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_1: u_bt_sel_1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&u_macro_u_bt_sel_1>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_2: u_macro_u_bt_sel_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_2: u_bt_sel_2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&u_macro_u_bt_sel_2>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_3: u_macro_u_bt_sel_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_3: u_bt_sel_3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&u_macro_u_bt_sel_3>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_4: u_macro_u_bt_sel_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 4 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_4: u_bt_sel_4 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&u_macro_u_bt_sel_4>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        u_out_tog: u_out_tog {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&out OUT_TOG>, <&out OUT_USB>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        u_caps_word: u_caps_word {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        u_to_U_BASE: u_to_U_BASE {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 0>;
        };
    };
};

/ {
    behaviors {
        u_to_U_EXTRA: u_to_U_EXTRA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 1>;
        };
    };
};

/ {
    behaviors {
        u_to_U_TAP: u_to_U_TAP {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 2>;
        };
    };
};

/ {
    behaviors {
        u_to_U_BUTTON: u_to_U_BUTTON {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 3>;
        };
    };
};

/ {
    behaviors {
        u_to_U_NAV: u_to_U_NAV {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 4>;
        };
    };
};

/ {
    behaviors {
        u_to_U_MOUSE: u_to_U_MOUSE {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 5>;
        };
    };
};

/ {
    behaviors {
        u_to_U_MEDIA: u_to_U_MEDIA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 6>;
        };
    };
};

/ {
    behaviors {
        u_to_U_NUM: u_to_U_NUM {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 7>;
        };
    };
};

/ {
    behaviors {
        u_to_U_SYM: u_to_U_SYM {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 8>;
        };
    };
};

/ {
    behaviors {
        u_to_U_FUN: u_to_U_FUN {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 9>;
        };
    };
};

/ {
    macros {
        u_macro_btn1: u_macro_btn1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&kp KP_SLASH &kp KP_N5>;
        };
    };
};

/ {
    macros {
        u_macro_btn2: u_macro_btn2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&kp KP_MINUS &kp KP_N5>;
        };
    };
};

/ {
    macros {
        u_macro_btn3: u_macro_btn3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&kp KP_ASTERISK &kp KP_N5>;
        };
    };
};

/ {
    behaviors {
        u_mt: u_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        u_lt: u_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "home_row_mod_left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "home_row_mod_right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
        };

        u_to_tap: u_to_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&to>, <&kp>;

            label = "toggle tap";
        };
    };
};
